.background {
    -fx-background-color: #616161;
}

.chart-title {
    -fx-text-fill: #f2f2f2;
}

.chart-legend {
    -fx-text-fill: #000;
}

.label {
    -fx-text-fill: #f2f2f2;
}

#absent {
    -fx-background-color: #f44;
    -fx-text-fill: #fefefe;
}

#absent:pressed {
    -fx-background-color: #b44;
}

#stats,
#schoolstart,
#today,
#present {
    -fx-background-color: #005ce6;
    -fx-text-fill: #eee;
}

#stats:pressed,
#schoolstart:pressed,
#today:pressed {
    -fx-background-color: #0047b3;
}

#present {
    -fx-background-color: #00b300;
}

#present:pressed {
    -fx-background-color: #008000;
}

.checkbox-container{
    -fx-background-color: #eaeaea;
}

.checkboxes {
    -fx-text-fill: #222;
}

#sub1 {
    -fx-background-color: #f8a31a;
}

#sub2 {
    -fx-background-color: #f2612d;
}

#sub3 {
    -fx-background-color: #57b657;
}

#backbutton {
    -fx-background-color: #009973;
    -fx-text-fill: #fff;
}

#backbutton:pressed {
    -fx-background-color: #004d39;
}

#login,
#student-statistics {
    -fx-background-color: #0cc;
}

#login:pressed,
#student-statistics:pressed {
    -fx-background-color: #088;
}
